/* This file fixes the editor preview stylings that are reset by tailwind css */
.markdown-preview {
    h1, h2, h3, h4, h5, h6 {
        display: block;
        margin-inline-start: 0rem;
        margin-inline-end: 0rem;
        font-weight: bold;
        width: fit-content;
        padding: 0 1rem;
    }

    h1 {
        font-size: 1.5rem;
        margin-block-start: 1rem;
        margin-block-end: 1rem;
        background-color: #fdba74;
    }
    h2 {
        font-size: 1.3rem;
        margin-block-start: .75rem;
        margin-block-end: .75rem;
        background-color: #fed7aa;
    }
    h3 {
        font-size: 1.15rem;
        margin-block-start: .75rem;
        margin-block-end: .75rem;
        background-color: #ffedd5;
    }
    h4 {
        font-size: 1.1rem;
        margin-block-start: .75rem;
        margin-block-end: .75rem;
        background-color: #fff7ed;
    }
    h5 {
        font-size: 1rem;
        margin-block-start: .75rem;
        margin-block-end: .75rem;
    }
    h6 {
        font-size: 1rem;
        margin-block-start: .75rem;
        margin-block-end: .75rem;
    }

    p {
        font-size: .9rem;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }

    blockquote {
        display: block;
        padding-block-start: .5em;
        padding-block-end: .5em;
        padding-inline-start: 1em;
        padding-inline-end: 1em;
        border-left: 4px solid #dddddd;
    }

    ul, ol {
        font-size: .9rem;
        display: block;
        padding-inline-start: 2rem;
        unicode-bidi: isolate;
    }

    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }

    a {
        color: blue;
        cursor: pointer;
        text-decoration: underline;
    }

    /* used for ``` code blocks */
    code {
        font-size: .8rem;
        background: #e2e8f0;
        padding: 0.25rem;
        border-radius: .25rem;
        margin-block-start: 1em;
        margin-block-end: 1em;
        border-radius: .25rem;
    }

    /* used for ` code blocks */
    pre {
        font-size: .8rem;
        background: #e2e8f0;
        padding: 1rem;
        border-radius: .25rem;
        margin-left: 1em;
    }

    img {
        display: inline-block;
        font-weight: 400;
        font-size: 0.9rem;
        text-align: center;
        line-height: 1;
   
        min-width: 100px;
        min-height: 50px;
        position: relative;
    }
    img::after {
        content: 'MISSING IMAGE';
        display: flex;
        margin-top: 5px;
        font-weight: bold;
        font-style: italic;
        z-index: 2;
        color: #9f1239;
   }
}
