<!DOCTYPE html>
<html>
  {{ partial "head.html" }}
<body class="flex flex-col h-screen">
  <div class="flex bg-slate-800 px-4 py-2 ">
            <div class="flex-1 text-white">{{ .Site.Title }}</div>
    <div class="flex items-center justify-end">
      {{ partial "header-nav.html" }}
      {{ partial "search.html" }}
    </div>
  </div>
  <div class="flex-1 grid grid-cols-[350px_1fr] gap-4">
    <div class="bg-slate-50 p-2 overflow-hidden">
      {{ partial "nav" . }}
    </div>
    <div class="main-block p-3">
      {{ block "main" . }}
      {{ end }}
    </div>
    {{ partial "search-results.html" }}
  </div>
  {{ partial "footer.html" }}
</body>
</html>
