<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    {{ print "x" .Site.Title " | " .Title }}
    </title>
    
    <!-- Links to external styles or assets here -->
    <link rel=”shortcut icon” href =“/favicon.ico”>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800" rel="stylesheet">
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/markdown-preview.css" rel="stylesheet">
    
    <script src="/js/elasticlunr.min.js"></script>
    <script src="/js/search.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/f19e2183cf.js" crossorigin="anonymous"></script>
  
</head>
