<ul class="flex gap-2 mr-8">
    <li class="flex rounded-sm text-white transition-all duration-200 ease-in-out hover:text-violet-950 hover:bg-violet-200"><a class="flex-1 px-2" href="/">Home</a></li>
    <li class="flex rounded-sm text-white transition-all duration-200 ease-in-out hover:text-violet-950 hover:bg-violet-200"><a class="flex-1 px-2" href="/about/">About</a></li>
    <li class="flex rounded-sm text-white transition-all duration-200 ease-in-out hover:text-violet-950 hover:bg-violet-200"><a class="flex-1 px-2" href="/docs/">Documentation</a></li>
    <li class="flex rounded-sm text-white transition-all duration-200 ease-in-out hover:text-violet-950 hover:bg-violet-200"><a class="flex-1 px-2" href="/repos/">Repos</a></li>
</ul>