<nav>
  <ul>
    <li class="flex rounded transition-all duration-200 ease-in-out hover:text-sky-950 hover:bg-sky-200"><a class="flex-1 px-2" href="/">Home</a></li>
    <li class="flex rounded transition-all duration-200 ease-in-out hover:text-sky-950 hover:bg-sky-200"><a class="flex-1 px-2" href="/about/">About</a></li>
    <li class="flex rounded transition-all duration-200 ease-in-out hover:text-sky-950 hover:bg-sky-200"><a class="flex-1 px-2" href="/docs/">Documentation</a></li>
    <li class="flex rounded transition-all duration-200 ease-in-out hover:text-sky-950 hover:bg-sky-200"><a class="flex-1 px-2" href="/repos/">Repos</a></li>
    <li class="flex rounded transition-all duration-200 ease-in-out hover:text-sky-950 hover:bg-sky-200"><a class="flex-1 px-2" href="/site-menu/">Site Menu</a></li>
    <li class="flex rounded transition-all duration-200 ease-in-out hover:text-sky-950 hover:bg-sky-200"><a class="flex-1 px-2" href="/all-pages/">All Pages</a></li>
  </ul>
</nav>

