<!-- These are the directory names under site/content -->
<ul>
{{ range .Site.Sections }}
    <li class="mb-1 bg-violet-700 text-white text-lg font-semibold flex rounded-sm px-2 hover:bg-violet-600 transition-all duration-200 ease-in-out"><a class="flex-1" href="{{ .Permalink }}">{{ .Title }}</a></li>

    <!-- These are the _index.md file links from the Section subdirs...  Ex: content/docs/dirname/_index.md -->
    <ul class="text-base ml-1">
    {{ range .Pages }}
        <li class="mb-1 bg-violet-400 flex rounded-sm px-2 pl-4 hover:bg-violet-300 transition-all duration-200 ease-in-out"><a class="flex-1" href="{{ .Permalink }}">{{ .Title }}</a></li>

        <!-- These are the Pages for each section - Ex: content/docs/dir/file or /content/docs/dir/subdir -->
        <ul class="text-sm ml-1">
        {{ range .Page.Pages }}
            <li class="mb-1 bg-violet-200 flex rounded-sm px-2 pl-8 hover:bg-violet-100 transition-all duration-200 ease-in-out"><a class="flex-1" href="{{ .Permalink }}">{{ .Title }}</a></li>

            <!-- Finally, get the .RegularPages in the branches and show the links... -->
            <ul class="text-xs ml-1 mb-3">
            {{ range .RegularPagesRecursive }}
                <li class="flex rounded-sm px-2 pl-12 hover:bg-violet-200"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
            </ul>
        {{ end }}
        </ul>
    {{ end }}
    </ul>
{{ end }}
</ul>

